body {
	text-align: center;
	background: url("../images/2.jpg")
}
body {
  text-align: center;
}

#pingpongButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4dc3ff;
  border: none;
  color: pink;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	clip: rect(10px,100px,100px,10px)
}

.submitbbton {
  text-align: center;
}

#result {
  background-image: url("../images/1.jpg" );
h1{
	font-size: 80px;
}
